/*------------------------------------------------------------------------------
    MAIN  STYLES    
------------------------------------------------------------------------------*/

body {
    font-family: 'Source Sans Pro', sans-serif;
    background: #3e4452;
}



#wrapper {
    width: 100%;
}


#page-index {
    width: 100%;
    margin: 20px 0px 0px 0px;
    padding: 4%;

}

#page-index a {
    text-decoration: none;
    outline: 0;
}

.text-center {
    text-align: center;
}

.btn,
.btn-large {
    color: white;
    background-color: #800000;
    border-radius: 10px;
    border: none;
    display: block;
    margin: 0 auto;
    font-weight: bold;
    font-size: 10px;
}

.btn-large:hover,
.btn-large:focus,
.btn:hover,
.btn:focus {
    background-color: white;
    color: #800000;
}

#button-download {
    width: 7%;
    height: 5%;
    background-color: #8e3131;
}

#button-download:hover,
#button-download:focus {
    background-color: white;
    color: #800000;
}


#navigation {
    width: 15%;
}



table {
    background-color: white;
    border-radius: 5px;
    margin-left: 0px;
}

#text {
    color: white;
}


.small-name a {
    color:  	#8B0000;
}

label {
    font-weight: normal;
    color:  black;
    font-size: 12px;
}

input[type="number"]:focus:not([readonly]) {
    border-bottom: 1px solid black;
    box-shadow: 0 1px 0 0 black;
}

input[type="number"].valid, input[type="number"]:focus.valid {
    border-bottom: 1px solid #8B0000;
    box-shadow: 0 1px 0 0 #8B0000;
}

#signature {
    font-family: 'Alex Brush', cursive;
    color: #8B0000;
}

h6 {
    color: black;
}

#vot {
   font-family: 'Just Another Hand', cursive; 
   font-size: 22px;
}

#rf {
    font-family: 'Playball', cursive;
    font-size: 20px;
}

#gtb {
    font-family: 'Merienda One', cursive;
    font-size: 14px;
}



/*------------------------------------------------------------------------------
    DASHBOARD CARDS    
------------------------------------------------------------------------------*/



#title_card {
    background-color: white;
    border-style: outset;
    border-color:  	#800000;
    border-radius: 15px;
    vertical-align: middle;
    border-width: 3px;
    padding: 30px;

}

#title_card p {
    color: white;
    font-size: 40px;
    font-weight: bold;
    padding: 17px;
    margin-bottom: 0px;
}

#title_card h3,
h2 {
    color:  	#8B0000;
    font-size: 20px;
    margin: 5px;
}

#title_card h5 {
    color: white;
    font-size: 14px;
    margin: 5px;
}

#extra_card {
    background-color: white;
    border-style: outset;
    border-color:  	#800000;
    border-radius: 15px;
    vertical-align: middle;
    border-width: 3px;
    padding: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

#extra_card p {
    color: white;
    font-size: 40px;
    font-weight: bold;
    padding: 17px;
    margin-bottom: 0px;
}

#extra_card h3 {
    color:  	#8B0000;
    font-size: 20px;
    margin: 10px;
}


#description_card {
    background-color: white;
    border-style: solid;
    border-color:  	#800000;
    border-radius: 5px;
    vertical-align: middle;
    border-width: 0px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: 10px;
}

#description_card p {
    color: #800000;
    font-size: 14px;
    font-weight: bold;
    margin-left: 0px;
    padding: 0px;
}

#description_card h3 {
    color:  	#8B0000;
    font-size: 20px;
    margin: 10px;
}

#desc_col {
    padding-right: 0px;
}

#description_card th,
tr {
    padding: 2px;
}

#description_card ol {
    margin: 8px;
}



#text_card h2 {
    margin-left: 0px;
}

#text_card li, #text_card a {
    color: #800000;
    font-weight: bold;
    margin-left: 15px;
    padding: 3px;
    font-size: 14px;
}

#linking {
    font-size: 14px;
}

#text_card a {
    margin: 0px;
    font-size: 14px;
}

#text_card a:hover {
    color: black;
}


#algorithm {
    background-color: white;
    border-style: solid;
    border-color:  	#800000;
    border-radius: 5px;
    /*min-height: 260px;*/
    vertical-align: middle;
    border-width: 0px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: 10px;
    /*min-height: 406px;*/
}

#algorithm p {
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
    margin-left: 10px;
}

#pyplot {
    background-color: white;
    border-style: solid;
    border-color:  	#800000;
    border-radius: 5px;
    /*min-height: 260px;*/
    vertical-align: middle;
    border-width: 0px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: 10px;
    /*min-height: 406px;*/
}

#pyplot h2 {
    color:  	#8B0000;
    font-size: 20px;
    margin: 10px;
}

#plot {
    height: 90%;
    width: 90%;
}

#repo_content {
    margin: 10px;
    padding-top: 0px;
    overflow: auto;
    height: 410px;
}

#repo_content h1, #repo_content a {
    color: #800000;
    margin-top: 10px;
}

#repo_content li {
    background-color: #2b4056;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 15px;
    padding: 5px 1px 1px 10px;
    margin: 10px;
    margin-bottom: 10px;

}



#repo_content li:hover {
    background-color: #2b4056;

}

#repo_content a:hover {
    color: white;
    text-decoration: none;
}

#question {
    min-height: 220px
}


/*------------------------------------------------------------------------------
    EDIT & ADD FORMS + TABLE    
------------------------------------------------------------------------------*/

input[type=text],
select,
textarea {
    width: 90%;
    height: 50px;
    padding: 12px;
    border-radius: 10px;
    border-color: #f2f2f2;
    box-sizing: border-box;
    margin: 0px 50px 0px 15px;
    resize: vertical;
    background-color: #f2f2f2;
    color: white;
}

th,
tr {
    color: black;
}

.table {
    background-color: #f2f2f2;
}

.table-striped>tbody>tr:nth-of-type(2n+1) {
    background-color: white;
}

.table-striped>tbody>tr:nth-of-type(2n) {
    background-color: #f2f2f2;
}

.table-bordered {
    border-color:  	#800000;
}


.table-bordered>thead>tr>th {
    border-color:  	#800000;
    font-size: 14px;

}

.table-bordered>tbody>tr>td {
    border-color:  	#800000;
    font-size: 12px;

}

.table>tbody>tr>td {
    vertical-align: middle !important;
}

#dataTables-example_info {
    color: white;
}

.pagination>.active>a {
    background-color: #f2f2f2;
    border-color: #f2f2f2;
}

.pagination>.active>a:hover {
    background-color: white;
    color: black;
}

.pagination li.disabled a {
    background-color: grey;
    border-color: #f2f2f2;
    color: white;
}

.pagination>li>a {
    background-color: #2b4056;
    border-color:  	#800000;
    color: white;
}



.card .card-action {
    border-top: none;
}


input[type="search"] {
    color: white;
}

input[type="file"] {
    color: white;
}

#navigation p {
    font-size: 14px;
}

textarea:focus,
input:focus {
    outline: none;
}
input[type="number"]:not(.browser-default):focus:not([readonly]),
input[type="text"]:focus:not([readonly]),
input[type="text"].valid {
    border-bottom: 1px solid #8b0000 !important;
    box-shadow: 0 1px 0 0 #8b0000 !important;
    color: black !important;
}

input[type="text"]:focus:not([readonly]) + label,
input[type="number"]:not(.browser-default):focus:not([readonly]) + label{
 color: #8b0000 !important;
}
#field {
    margin-left: 50px;
}

.select-wrapper {
    background-color: #f2f2f2;
}

.select-wrapper input.select-dropdown {
    border-bottom: none;
    margin-left: 10px;
    height: 30px;
}

.input-field .prefix~input {
    width: 50%;
    margin-top: 5px;
}

.prefix~.select-wrapper {
    width: 90%;
}

.input-field .prefix~label {
    margin-left: 30px;
    color:  black;
}

.input-field.col .prefix~.validate~label {
    margin-left: 35px;
    color:  black;
}

.input-field .prefix.active {
    color:  	#8B0000;
}

#field_label {
    margin-left: 32px;
}

#field_label.active {
    color:  	#8B0000;
}


#add_file {
    margin: 10px;
    color:  	#8B0000;
}

#author,
#name {

    margin-top: 0px;
}


.dropdown-content li>span {
    color: white;
}

.dropdown-content li>span:hover {
    background-color: #2b4056;
}

.select-dropdown li.disabled>span {

    color:  	#8B0000;
}

.caret {
    border-top: none;
    width: 15px;
}

.select-wrapper span.caret {
    color:  	#8B0000;
}

input[type="search"]:focus:not([readonly]) {
    border-bottom: 1px solid rgba(102, 175, 233, .6);
    box-shadow: 0 1px 0 0 rgba(102, 175, 233, .6);
}

input[type="text"]:not(.browser-default):focus:not([readonly]):{

}

#qualityChart {
    height: 315px;
}







#rate {
    width: 200px;
    text-decoration: none;
    background-color: #f2f2f2;
    box-shadow: none;
    font-size: 11px;
    color: #800000;
}

#rate:hover {
    background-color: white;
    color: #800000;
    font-size: 12px;
}








/*------------------------------------------------------------------------------
    MEDIA QUERIES     
------------------------------------------------------------------------------*/

/* MIN WIDTHS ----------------------------------------------------------------*/

@media(min-width:1811px) {
    #page-index {
        min-height: 1000px;
    }
    #page-selection {
        min-height: 1400px;
    }
    #page-algorithm {
        min-height: 1600px;
    }
    #page-projects {
        min-height: 1400px;
    }
}

@media(min-width:768px) {
    #page-wrapper {
        margin: 0 0 0 0px;
        padding: 0;
    }

    #header_card p {
        font-size: 40px;
        color: white;
    }
}

/* MAX WIDTHS: LARGE SCREEN---------------------------------------------------*/

@media(max-width:1810px) {

    #page-index {
        min-height: 1000px;
    }

    #title_card p {
        font-size: 30px;
        font-weight: bold;
        padding: 17px;
    }

    #algorithm {
        min-width: 160px;
    }
    #algorithm p {
        font-size: 16px;
        font-weight: bold;
        padding-top: 20px;
    }

    #info_content {
        min-height: 0px;
        margin: 10px;
        padding-top: 10px;
    }
    #info_content h2 {
        padding: 0px 10px 10px 10px;
        color:  	#8B0000;
        font-size: 18px;
    }
    #pyplot h2 {
        font-size: 18px;
    }

}

@media(max-width:1600px) {

    #page-wrapper {
        margin: 0 0 0 0px;
    }
    #page-index {
        min-height: 800px;
    }
    #title_card p {
        font-size: 24px;
        font-weight: bold;
        padding: 17px;
    }

    #algorithm {
        min-width: 160px;
    }
    #algorithm p {
        font-size: 16px;
        font-weight: bold;
        padding-top: 20px;
    }

    .card-panel {
        font-size: 12px;
        font-weight: bold;
        border-radius: 15px;
        padding: 10px 2px 5px 2px;
    }
    #info_content {
        min-height: 0px;
        margin: 10px;
        padding-top: 10px;
    }
    #info_content h2 {
        padding: 0px 10px 10px 10px;
        color:  	#8B0000;
        font-size: 18px;
    }
    #pyplot h2 {
        font-size: 18px;
    }

    #repo_content {
        margin: 0px;
        padding: 0px;
    }
    #repo_content h1,
    h2 {
        font-size: 18px;
    }
    #repo_content li {
        font-size: 12px;
    }


    #field {
        margin-left: 10px;
    }

    .input-field .prefix ~ input {
        width: 70%;
        }

}

/* MAX WIDTHS: MEDIUM SCREEN---------------------------------------------------*/

@media(max-width:1200px) {
    #page-wrapper {
        position: relative;
        top: 50px;
    }
    #page-index {
        min-height: 800px;
    }
    .row {
        margin-bottom: 10px;
    }

    .card {
    overflow: auto;
    }

    #title_card p {
        font-size: 24px;
        font-weight: bold;
        padding: 17px;
    }

    #algorithm {
        min-height: 50px;
    }
    #algorithm p {
        font-size: 20px;
        font-weight: bold;
        padding-top: 20px;
    }

    #info_content {
        min-height: 0px;
        margin: 10px;
        padding-top: 10px;
    }
    #info_content h2 {
        padding: 0px 10px 10px 10px;
        color:  	#8B0000;
        font-size: 18px;
    }
    #pyplot h2 {
        font-size: 18px;
    }
    th,
    tr {
        font-size: 12px;
    }
}

@media(max-width:1056px) {

    #page-wrapper {
        position: relative;
        top: 40px;
    }
    #page-index {
        min-height: 800px;
    }

    #algorithm {
        min-height: 0px;
    }
    #algorithm p {
        font-size: 20px;
        font-weight: bold;
        padding-top: 20px;
    }

    #info_card {
        min-height: 120px;
        padding: 10px;
    }
    #info_card h3 {
        font-size: 14px;
    }

    #info_content {
        min-height: 0px;
        margin: 10px;
        padding-top: 10px;
    }
    #info_content h2 {
        padding: 0px 10px 10px 10px;
        color:  	#8B0000;
        font-size: 15px;
    }
    #pyplot h2 {
        font-size: 15px;
    }

}

@media(max-width:993px) {
    #page-wrapper {
        position: relative;
        top: 70px;
    }
    #page-index {
        min-height: 1200px;
    }

    #title_card p {
        font-size: 36px;
        font-weight: bold;
        padding: 17px;
    }

    #algorithm {
        min-height: 50px;
        padding-top: 0px;
    }
    #algorithm p {
        font-size: 16px;
        font-weight: bold;
        padding: 5px;
    }

    #info_card {
        min-height: 0px;
    }
    #info_card h3 {
        font-size: 12px;
        padding: 0px;
    }

    #info_content {
        min-height: 0px;
        margin: 10px;
        padding-top: 10px;
    }
    #info_content h2 {
        padding: 0px 10px 10px 10px;
        color:  	#8B0000;
        font-size: 15px;
    }
    #pyplot h2 {
        font-size: 15px;
    }

    #navigation {
        width: 50%;
    }


}


/* MAX WIDTHS: SMALL SCREEN---------------------------------------------------*/

@media(max-width:769px) {
    #page-wrapper {
        position: relative;
        top: 90px;
        margin: 0 0 0 0px;
    }
    #page-index {
        min-height: 1600px;
    }

    #title_card p {
        font-size: 36px;
        font-weight: bold;
        padding: 17px;
    }

    #algorithm {
        min-height: 50px;
        padding-top: 0px;
    }
    #algorithm p {
        font-size: 16px;
        font-weight: bold;
        padding: 5px;
    }

    #info_card {
        min-height: 0px;
    }
    #info_card h3 {
        font-size: 12px;
        padding: 0px;
    }
    #info_content {
        min-height: 0px;
        margin: 10px;
        padding-top: 10px;
    }
    #info_content h2 {
        padding: 0px 10px 10px 10px;
        color:  	#8B0000;
        font-size: 15px;
    }
    #pyplot h2 {
        font-size: 15px;
    }

    #plot {
        margin-left: 4%;
    }



}

/* MAX WIDTHS: EXTRA-SMALL SCREEN---------------------------------------------*/

@media(max-width:521px) {
    #page-wrapper {
        position: relative;
        top: 100px;
    }
    #page-index {
        min-height: 1400px;
    }
    #dropdown1 {
        left: 0px !important;
    }

    .col-md-8 {
        padding-left: 0px;
    }
    #title_card p {
        font-size: 20px;
        font-weight: bold;
        padding: 17px;
    }

    #algorithm {
        min-height: 50px;
        padding-top: 0px;
    }
    #algorithm p {
        font-size: 16px;
        font-weight: bold;
        padding: 5px;
    }
    .card-panel {
        font-size: 12px;
        font-weight: bold;
        border-radius: 15px;
    }
    #info_content {
        min-height: 0px;
        margin: 0px;
        padding-top: 10px;
    }
    #info_content h2 {
        padding: 0px 10px 10px 10px;
        color:  	#8B0000;
        font-size: 15px;
    }

    .input-field .prefix~input {
        width: 70%;
        margin-top: 5px;
    }
    .prefix~.select-wrapper {
        width: 70%;
    }

    #plot {
        margin-left: 3%;
    }

    #button-download {
    width: 30%;
    height: 10%;
    }

}


@media(max-width:480px) {

    #page-wrapper {
        position: relative;
        top: 100px;
    }


    #title_card p {
        font-size: 20px;
        font-weight: bold;
        padding: 17px;
    }

    #algorithm {
        min-height: 50px;
        padding-top: 0px;
    }
    #algorithm p {
        font-size: 16px;
        font-weight: bold;
        padding: 5px;
    }

    #info_content {
        min-height: 0px;
        margin: 0px;
        padding-top: 10px;
    }
    #info_content h2 {
        padding: 0px 10px 10px 10px;
        color:  	#8B0000;
        font-size: 15px;
    }



}

@media(max-width:376px) {
    #page-wrapper {
        position: relative;
        top: 80px;
        margin-left: 0px;
    }
    #dropdown1 {
        left: 0px !important;
    }

    }
    #info_card {
        min-height: 0px;
    }
    #info_card h3 {
        font-size: 12px;
        padding: 0px;
    }
    th,
    tr {
        font-size: 9px;
    }
}
