{% extends 'base.html' %}

{% block content %}

<div class="row header">
    <div id="messageAlert" class="alert alert-message" role="alert">
    </div>
</div>

<div class="dashboard-cards">
    <div class="row row-title">
        <h3>Hyperparameters Tuning</h3>
        <p>&nbsp;<i class="fab fa-python"> </i> In order to choose optimal parameters for each algorithm, we'll use <b>GridSearchCV</b>
            from <b>sklearn</b> library:</p>
    </div>
    <div class="row row-cards">
        <div class="card card-transparent">
            <p><b>Optimal parameters for Linear SVM: </b> {'C': 1, 'kernel' : 'linear'}</p>
            <p><b>Optimal parameters for Kernel SVM: </b> {'C': 10, 'gamma': 1.0, 'kernel': 'rbf'}</p>
            <p><b>Optimal parameters for RandomForest: </b> {'criterion': 'entropy', 'min_samples_leaf': 3, max_depth':
                110, 'max_features': 3, 'min_samples_split': 5, 'n_estimators': 200}</p>
            <p><b>Optimal parameters for Gradient Tree Boosting: </b> {'learning_rate': 0.1, max_features = 0.1,
                'n_estimators': 450}</p>
        </div>
    </div>
    <div class="row row-title">
        <h3>Algorithms Performance after Tuning</h3>
        <p>&nbsp;<i class="fab fa-python"> </i> Again, we'll measure model performance using <b>k-Fold Cross
            Validation</b> technique. Additionally we'll try out <b>Vote Classifier</b> built with all four other
            classifiers: </p>
    </div>
    <div class="row row-cards">
        <div class="col-md-12 plain-element">
            <div class="card card-table">
                {{ accuracies_tune | safe }}
            </div>
        </div>
    </div>
    <div class="row row-title">
        <div class="box">
            <h3>Predicting Test Set Values</h3>
            <form action="{{url_for('algorithms.download_code', code_name='classifier_test') }}"
                  method="GET" enctype="multipart/form-data">
                <button type="Download" class="btn button-inline">Download</button>
            </form>
        </div>
        <p>&nbsp;<i class="fab fa-python"> </i> Let's see how our models are performing on a test set (y_test): </p>
    </div>
    <div class="row row-cards">
        <div class="col-md-12 plain-element">
            <div class="card card-table">
                {{ accuracies_test | safe }}
            </div>
        </div>
    </div>
    <div class="row row-title">
        <h3>Conclusion</h3>
        <p>&nbsp;<i class="fab fa-python"> </i> Final thoughts regarding algorithms tuning process
        </p>
    </div>
    <div class="row row-cards">
        <div class="card card-transparent">
            <p>With given data samples avg <b>70%</b> accuracy is the highest as we can reach. There is a high probability that
                with more data we could predict quality with better precision. Generally, ensemble models (<b>RF</b>, <b>GTB</b>)
                outperform other algorithms in this task. Now, let us meet our <b>Artificial Sommeliers</b> in person by
                clicking button below:</p>
        </div>
    </div>
    <div class="row row-cards">
        <a href="{{ url_for('algorithms.sommeliers') }}" class="btn btn-navigation"
           id="navigation"><span>A.I. Sommeliers <i class="far fa-arrow-alt-circle-right"></i></span></a>
    </div>

    <div class="row row-cards"></div>
</div>

<div class="fixed-action-btn">
  <a class="btn-floating btn-menu">
    <i class="large material-icons">more_horiz</i>
  </a>
  <ul>
    <li><a class="btn-floating tooltipped" data-position="top" data-tooltip="Dataset Summary" href="{{ url_for('algorithms.summary') }}"><i class="material-icons">insert_chart</i></a></li>
    <li><a class="btn-floating tooltipped" data-position="top" data-tooltip="Build Classifier" href="{{ url_for('algorithms.classifier_build') }}"><i class="material-icons">build</i></a></li>
    <li><a class="btn-floating tooltipped" data-position="top" data-tooltip="Fit Classifier" href="{{ url_for('algorithms.classifier_fit') }}"><i class="material-icons">check</i></a></li>
    <li><a class="btn-floating tooltipped" data-position="top" data-tooltip="AI Sommeliers" href="{{ url_for('algorithms.sommeliers') }}"><i class="material-icons">local_bar</i></a></li>
  </ul>
</div>

{% endblock %}

