{% extends 'base.html' %}


{% block content %}
<div class="row header">
    <div id="messageAlert" class="alert alert-message" role="alert">
    </div>
    <div id="messageError" class="alert alert-message" role="alert">

    </div>
</div>

<div class="dashboard-cards">
    <div class="row row-title">
        <h3>Classification Algorithms</h3>
        <p>&nbsp;<i class="fab fa-python"> </i> Machine learning classification problem overview</p>
    </div>
    <div class="row row-cards">
        <div class="card card-transparent">
            <p>Classification identifies to which of a set of categories a new observation belongs. Classification
                problem is an example of pattern recognition that predict a probability of a given example belonging to
                each output class. The output variables are often  called labels or categories.
            </p>
            <p>No. of Rows: <b>{{rows}}</b></p>
            <p>No. of Columns: <b>{{columns}}</b></p>
            <a target="_blank" href="https://archive.ics.uci.edu/ml/datasets/wine+quality">UC Irvine Machine Learning
                Repository - Wine Quality Data Set</a>
        </div>
    </div>


</div>


{% endblock %}


<div class="card text-center" id="main_card">
    <br>
    <h1>Classification Overview</h1>
    <br>
    <div class="row"></div>
    <div class="row">
        <div class="col-md-12 text-center" id="desc_col">
            <div class="card" id="description_card">
                <div class="row text-center">
                    <div class="col-md-3 text-left" id="text_card">
                        <h2>Overview:</h2>
                        <p>
                        </p>
                    </div>
                    <div class="col-md-3 text-left" id="text_card">

                        <h2>Real life example:</h2>
                        <li>Email spam detector</li>
                        <li>Handwritten Digit Recognition.</li>
                        <li>Speech Recognition.</li>
                        <li>DNA Sequence Classification.</li>
                    </div>
                    <div class="col-md-2 text-left" id="text_card">
                        <h2>Preprocessing:</h2>

                        <li> One Hot Encoding</li>
                        <li> Label Encoding</li>
                        <li> StandardScaler</li>
                        <li> Train-Test Split</li>

                    </div>
                    <div class="col-md-2 text-left" id="text_card">
                        <h2>Possible issues:</h2>
                        <li> Dummy Variable Trap</li>
                        <li> Overfitting</li>

                    </div>
                    <div class="col-md-2 text-left" id="text_card">
                        <h2>Read more:</h2>
                        <li><a target="_blank"
                               href="https://machinelearningmastery.com/classification-versus-regression-in-machine-learning/">Machine
                            Learning Mastery</a></li>
                        <li><a target="_blank"
                               href="https://www.geeksforgeeks.org/regression-classification-supervised-machine-learning/">GeeksforGeeks</a>
                        </li>
                        <li><a target="_blank" href="https://www.youtube.com/watch?v=f7YB73F0zDo">ML Introduction:
                            Classification</a></li>
                        <li><a target="_blank"
                               href="https://www.datascience.com/blog/regression-and-classification-machine-learning-algorithms">Regression
                            vs. Classification</a></li>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row"></div>
    <div class="row"></div>
    <br>
    <h1>Dataset Preprocessing</h1>
    <br>
    <div class="row">
        <div class="col-md-12 text-center" id="desc_col">

            <div class="card" id="description_card">
                <div class="row text-center">
                    <div class="col-md-12 text-center" id="text_card">
                        <h2>Dataset shuffle, separating labels & features</h2>
                        <br>
                        <br>
                        <p>We'll use sklearn library to reshuffle our dataset - we want to avoid any particular samples
                            order that could somehow disrupt machine learning process. Our X,y separated dataset:</p>
                        <br>
                        <div class="col-md-8 text-center">
                            <h2 style="color: #800000">X (features)</h2>
                            <br> {{X_head | safe}}
                        </div>
                        <div class="col-md-1 text-left"></div>
                        <div class="col-md-2 text-center">
                            <h2 style="color: #800000">y (label)</h2>
                            <br> {{y_head | safe}}
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>

        <div class="col-md-12 text-center" id="desc_col">
            <div class="card" id="description_card">
                <div class="row text-center">
                    <div class="col-md-12 text-center" id="text_card">
                        <h2>Features Standardisation</h2>
                        <br>
                        <br>
                        <p>Standardization is commonly required for machine learning tasks. It helps to avoid weighting
                            imbalances among features. We'll use StandardScaler from sklearn library:</p>
                        <br> {{ X_transformed_df | safe }}
                    </div>
                </div>
            </div>
            <br>
        </div>
        <div class="col-md-12 text-center" id="desc_col">
            <div class="card" id="description_card">
                <div class="row text-center">
                    <div class="col-md-12 text-center" id="text_card">
                        <h2>Train/Test split</h2>
                        <br>
                        <p>We'll use 80% of a dataset to train our machine learning model. Other 20% we'll use to
                            measure it's performance. With use of sklearn.model_selection library:</p>
                        <br>
                        <br>
                        <div class="col-md-1 text-left"></div>
                        <div class="col-md-5 text-center">
                            <h2 style="color: #800000">X_train records:</h2>
                            <h2>{{X_train_len}}</h2>
                        </div>
                        <div class="col-md-5 text-center">
                            <h2 style="color: #800000">X_test records:</h2>
                            <h2>{{X_test_len}}</h2>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
    <br>
    <h1>ML Algorithm Selection</h1>
    <br>
    <div class="row">
        <div class="card" id="description_card">
            <div class="row text-center">
                <div class="col-md-12 text-center" id="text_card">
                    <h2>Classification Algorithms</h2>
                    <br>
                    <p> We'll run a quick performance test of various classification algorithms:
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 text-center">
            <div class="card" id="description_card">
                <h2> Logistic Regression</h2>
                <img src="/static/img/LR.gif" class="img-responsive"/>
            </div>
        </div>
        <div class="col-md-2 text-center">
            <div class="card" id="description_card">
                <h2> SVM</h2>
                <img src="/static/img/KSVM.gif" class="img-responsive"/>
            </div>
        </div>
        <div class="col-md-2 text-center">
            <div class="card" id="description_card">
                <h2> Naive Bayes (Gaussian)</h2>
                <img src="/static/img/NB.gif" class="img-responsive"/>
            </div>
        </div>
        <div class="col-md-2 text-center">
            <div class="card" id="description_card">
                <h2> Random Forest</h2>
                <img src="/static/img/RFC.gif" class="img-responsive"/>
            </div>
        </div>
        <div class="col-md-2 text-center">
            <div class="card" id="description_card">
                <h2> Gradient Tree Boosting</h2>
                <img src="/static/img/GTB.gif" class="img-responsive"/>
            </div>
        </div>
        <div class="col-md-2 text-center">
            <div class="card" id="description_card">
                <h2>AdaBoost</h2>
                <img src="/static/img/AB.gif" class="img-responsive"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card" id="description_card">
            <div class="row text-center">
                <div class="col-md-12 text-center" id="text_card">
                    <h2>Algorithms Initial Performance</h2>
                    <br>
                    <br>
                    <p>To measure initial performance, we'll fit raw models to our training set (without specifying any
                        parameters) using k-Fold Cross Validation technique:</p>
                    <div class="col-md-2 text-left"></div>
                    <div class="col-md-8 text-center">

                        <br> {{ accuracies_initial | safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card" id="description_card">
            <div class="row text-center">
                <div class="col-md-12 text-center" id="text_card">
                    <h2>Conclusion</h2>
                    <br>
                    <p> Predicting all 6 classes it's not an easy task and we can see that Naive Bayes and AdaBoost
                        didn't handle it well. Other bottom performers were Logistic Regression and KNN. Standard
                        deviation was under 5% (except NB - 15%!).<br> Let's
                        keep only 4 top performance for now and try to tune some hyperparameters.
                    </p>

                </div>

                <div class="col-md-12 text-center" id="text_card">
                    <br>
                    <h2>Download Code for this Section</h2>
                    <br>
                    <form action="{{url_for('algorithms.download_code', code_name='classifier_build') }}" method="GET"
                          enctype="multipart/form-data">
                        <button type="Download" class="btn btn-default" id="button-download">Download</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="row text-center">
            <a href="{{ url_for('algorithms.classifier_fit') }}" class="waves-effect waves-light btn-large"
               id="navigation">Parameters Tuning</a>
        </div>
    </div>
    <div class="row"></div>
    <div class="row"></div>


</div>


