{% extends 'base.html' %}
{% block content %}

<div class="row header">
    <div id="messageAlert" class="alert alert-message" role="alert">
    </div>
</div>

<div class="dashboard-cards">
    <div class="row row-title">
        <h3>Please specify Red Wine features:</h3>
        <p>&nbsp;*If you have no idea what is the feature value, leave it blank. Dataset <b>average</b> will be applied
        </p>
    </div>
    <div class="row row-cards" style="padding-top:0px">
        <form id="formRateWine" method="POST">
            <div class="col-md-5 plain-element">
                <div class="card card-data card-form">
                    <br>
                    <div class="row plain-element">
                        <div class="col-md-6">
                            <div class="row plain-element">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">blur_circular</i>
                                    <input placeholder="Fixed Acidity" id="fixed_acidity" name="fixed_acidity"
                                           type="number"
                                           step=0.001 min=0 class="validate">
                                </div>
                            </div>
                            <div class="row plain-element">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">blur_on</i>
                                    <input placeholder="Volatile Acidity" id="volatile_acidity" name="volatile_acidity"
                                           type="number"
                                           step=0.001 min=0 class="validate">
                                </div>
                            </div>
                            <div class="row plain-element">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">share</i>
                                    <input placeholder="Citric Acid" id="citric_acid" name="citric_acid" type="number"
                                           step=0.001 min=0 class="validate">
                                </div>
                            </div>
                            <div class="row plain-element">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">widgets</i>
                                    <input placeholder="Residual Sugar" id="residual_sugar" name="residual_sugar"
                                           type="number"
                                           step=0.001 min=0 class="validate">
                                </div>
                            </div>
                            <div class="row plain-element">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">device_hub</i>
                                    <input placeholder="Chlorides" id="chlorides" name="chlorides" type="number"
                                           step=0.001 min=0 class="validate">
                                </div>
                            </div>
                            <div class="row plain-element">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">waves</i>
                                    <input placeholder="Free Sulfur Dioxide" id="free_sulfur_dioxide"
                                           name="free_sulfur_dioxide" type="number"
                                           step=0.001 min=0 class="validate">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row plain-element">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">bubble_chart</i>
                                    <input placeholder="Total Sulfur Dioxide" id="total_sulfur_dioxide"
                                           name="total_sulfur_dioxide" type="number"
                                           step=0.001 min=0 class="validate">
                                </div>
                            </div>
                            <div class="row plain-element">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">gradient</i>
                                    <input placeholder="Density" id="density" name="density" type="number"
                                           step=0.001 min=0 class="validate">
                                </div>
                            </div>
                            <div class="row plain-element">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">opacity</i>
                                    <input placeholder="pH" id="pH" name="pH" type="number"
                                           step=0.001 min=0 class="validate">
                                </div>
                            </div>
                            <div class="row plain-element">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">cloud_circle</i>
                                    <input placeholder="Sulphates" id="sulphates" name="sulphates" type="number"
                                           step=0.001 min=0 class="validate">
                                </div>
                            </div>
                            <div class="row plain-element">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">local_bar</i>
                                    <input placeholder="Alcohol" id="alcohol" name="alcohol" type="number"
                                           step=0.001 min=0 class="validate">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <button class="btn btn-submit" type="submit" id="navigation"><span>Rate Wine <i
                            class="far fa-arrow-alt-circle-right"></i></span>
                    </button>
                </div>
            </div>
        </form>
        <div class="col-md-2 plain-element"></div>
        <div class="col-md-5 plain-element">

            <div class="card horizontal card-sommelier">
                <div class="card-image">
                    <img src="/static/img/sommelier1.jpg">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title" id="rf-name">Sir Forest Random</span>
                        <p id="rf-comment">Let me have a sip</p>
                        <p id="rf-result"></p>
                    </div>
                </div>
            </div>
            <div class="card horizontal card-sommelier">
                <div class="card-image">
                    <img src="/static/img/sommelier2.jpg">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title" id="vot-name">Classy V. Ensemble</span>
                        <p id="vot-comment">Can I try it?</p>
                        <p id="vot-result"></p>
                    </div>
                </div>
            </div>
            <div class="card horizontal card-sommelier">
                <div class="card-image">
                    <img src="/static/img/sommelier3.jpg">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title" id="gtb-name">Gradienne T. Boost</span>
                        <p id="gtb-comment">Let me know when wine is ready</p>
                        <p id="gtb-result"></p>
                    </div>
                </div>
            </div>
            <p>*(3-4 is poor quality, 5-6 average, 7-8 is the highest)</p>
        </div>
    </div>
    <div class="row row-cards"></div>

</div>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large btn-menu">
    <i class="large material-icons">more_horiz</i>
  </a>
  <ul>
    <li><a class="btn-floating tooltipped" data-position="top" data-tooltip="Dataset Summary" href="{{ url_for('algorithms.summary') }}"><i class="material-icons">insert_chart</i></a></li>
    <li><a class="btn-floating tooltipped" data-position="top" data-tooltip="Build Classifier" href="{{ url_for('algorithms.classifier_build') }}"><i class="material-icons">build</i></a></li>
    <li><a class="btn-floating tooltipped" data-position="top" data-tooltip="Fit Classifier" href="{{ url_for('algorithms.classifier_fit') }}"><i class="material-icons">check</i></a></li>
    <li><a class="btn-floating tooltipped" data-position="top" data-tooltip="AI Sommeliers" href="{{ url_for('algorithms.sommeliers') }}"><i class="material-icons">local_bar</i></a></li>
  </ul>
</div>

{% endblock %}


