/*------------------------------------------------------------------------------
    ROWS
------------------------------------------------------------------------------*/


.dashboard-cards {
    width: 90%;
    margin: auto;
}



.row-title {
    width: 70%;
    margin: auto;
    text-align: left;

}


.row-title h3 {
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.row-title p {
    color: #dadddf;
    font-size: 12px;

}

.row-cards {
    width: 70%;
    text-align: center;
    padding: 2% 0% 2% 0%;
}








/*------------------------------------------------------------------------------
    DASHBOARD CARDS
------------------------------------------------------------------------------*/



.card-transparent {
    background-color: transparent;
    border: none;
    box-shadow: none;
    text-align: left;
    width: 98%;
    margin: auto;
    color: white;

}

.card-transparent a {
    font-size: 14px;
    color: #FFCB9A;
    font-weight: 600;

}



.card-table {
    background: #373d49;
    border-radius: 5px;
    width: 98%;
    margin: auto;
    margin-bottom: 20px;
    border: 1px solid #515663;
}


.card-plot {
    background: #373d49;
    border-radius: 5px;
    width: 98%;
    margin: auto;
    margin-bottom: 20px;
    border: 1px solid #515663;
    min-height: 340px;
}


.card-data {
    background: #373d49;
    border-radius: 5px;
    width: 80%;
    border: 1px solid #515663;
    min-height: 220px;
}

.card-data .card-content {
    font-size: 1rem;
    text-align: left;
    color: #FFCB9A;
}

.card-data .card-content b {
    color: white;
    font-weight: normal;
}

.card-data .card-title {
    color: #FFCB9A;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: left;
}

.card-data .card-action {
    padding: 0px;
}

.card-form {
    min-height: 260px;
    width: 100%;
}

.card-sommelier {
    background: #777c85;
    border-radius: 5px;
}

.card.horizontal .card-image img{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.card-sommelier .card-title {
    color: #FFCB9A;

}

.card-sommelier .card-content {
    padding: 16px;

}

.card-sommelier .card-content p{
    color: white;
    font-size: 0.8rem;

}


#rf-name {
    font-family: 'Playball', cursive;
    font-size: 1.4rem;
}

#rf-comment {
    font-family: 'Playball', cursive;
    font-size: 1rem;
}

#rf-result {
    margin-top: 2%;
    font-family: 'Playball', cursive;
    font-size: 1.8rem;
}

#vot-name {
   font-family: 'Just Another Hand', cursive;
   font-size: 1.6rem;
}

#vot-comment {
   font-family: 'Just Another Hand', cursive;
   font-size: 1.4rem;
}

#vot-result {
    margin-top: 2%;
   font-family: 'Just Another Hand', cursive;
   font-size: 2rem;
}

#gtb-name {
    font-family: 'Merienda One', cursive;
    font-size: 1.2rem;
}

#gtb-comment {
    font-family: 'Merienda One', cursive;
    font-size: 0.9rem;
}

#gtb-result {
    margin-top: 2%;
    font-family: 'Merienda One', cursive;
    font-size: 1.6rem;
}



/*------------------------------------------------------------------------------
    PLOT
------------------------------------------------------------------------------*/

.plot {
     width: 96%;
     margin: auto;
     margin-bottom: 20px;
}



/*------------------------------------------------------------------------------
    BUTTONS
------------------------------------------------------------------------------*/


.btn-navigation {
    width: 30%;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    border-color: transparent;
    text-align: right;
    color: white;
    background-color: #6ba546;
    font-size: 16px;
    font-family: 'Jura', sans-serif;

}

.btn-navigation:hover, .btn-navigation:active, .btn-navigation:focus {
    background-color: #558438;
    color: white;
}


.button-inline {
    width: 100%;
    margin-left: 10%;
    font-size: 0.6rem;
    height: 18px;
    line-height: 18px;
    border-radius: 15px;
}

.button-inline:hover, .button-inline:active, .button-inline:focus {
    background-color: #558438;
    color: white;
}


.btn-submit {
    width: 100%;
    height: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: transparent;
    text-align: right;
    color: white;
    background-color: #262a33;
    font-size: 18px;

}

.btn-submit:hover, .btn-submit:active, .btn-submit:focus {
    background-color: #15181c;
    color: white;
}

/*------------------------------------------------------------------------------
    TABLES
------------------------------------------------------------------------------*/

tr{
    border: none;
    line-height: 1;
}

th{
    color: white;
    font-size: 0.8rem;
    text-align: center;
}

td {
    color: white;
    text-align: center;
    font-size: 0.7rem;
    padding: 5px;
}


/*------------------------------------------------------------------------------
    FORMS
------------------------------------------------------------------------------*/

.input-field .prefix,
.input-field .prefix.active{
     color: #FFCB9A;
}

.input-field {
    color: white;
}
input.valid[type="number"]:not(.browser-default),
input[type="number"]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #FFCB9A;
    box-shadow: 0 1px 0 0 #FFCB9A;


}

input[type="number"]:not(.browser-default) {
    font-size: 12px;
}


/*----------------------------------------------
    MEDIA QUERIES
------------------------------------------------*/


@media(max-width:1700px) {
    .row-cards,
    .row-title {
        width: 95%;
    }
}


@media(max-width:992px) {


    .card-table {
        overflow: auto;
    }

}


@media(max-width:520px) {



    .row-title h3 {
        font-size: 24px;
    }

    .row-title p {
        font-size: 10px;
    }



    .card-data {
        width: 100%;
    }

    .btn-navigation {
        width: 80%;
    }



}